
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.edit_container {
  overflow: auto;
  flex: 1;
  background-color: #1e2126;
}

.statusbar {
  position: sticky;
  bottom: 0;
  z-index: 10;
  transition: linear 1s;
}