.container {
  width: 100%;
}

.login_page {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin: auto;
}

.btn {
  margin-top: 20px;
}

.btn_content {
  display: flex;
  justify-content: center;
}

.sign_up {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}